<!-- Header  -->
<header>
  <nav class="navbar navbar-expand-xl navbar-light">
    <div class="container">
      <a class="navbar-brand" href="#"><img src="./assets/logo-Programmer.svg" alt="" /></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#service">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#testimonial">Testimonials</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#pricing">Pricing</a>
          </li>
          <li class="nav-item">
            <div class="navBtns">
              <a href="#contact">
                <button class="btn btn-main me-2">Contact Us</button>
              </a>
              <a href="">
                <button class="btn btn-main">Register/Login</button>
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
