@import "/src/styles.scss";


// Header Section
header {
  background: $light;
  box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.07);

  nav {
    a.navbar-brand {
      img {
        width: 120px;
      }
    }

    button.navbar-toggler {
      &:focus {
        box-shadow: none;
      }
    }

    ul.navbar-nav {
      gap: 20px;
      align-items: center;

      li.nav-item {
        a.nav-link {
          color: $dark;
          font-size: 17px;

          &.active {
            color: $primary;
            font-weight: 700;
          }
        }
      }
    }

    .navBtns {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 10px;
      flex-wrap: wrap;
    }
  }
}



@media only screen and (max-width: 1200px) {

  // Header Section

  header {
    nav {
      ul.navbar-nav {
        gap: 20px;

        li.nav-item {
          a.nav-link {
            font-size: 16px;
          }
        }
      }
    }
  }

  // Pricing section

  section.pricing {
    .content {
      h4 {
        font-size: 20px;
      }

      p {
        font-size: 16px;
      }

      h1 {
        font-size: 40px;

        span {
          font-size: 16px;
        }
      }

      ul {
        li {
          font-size: 16px;
          margin: 15px 0;
        }
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  header {
    nav {
      ul.navbar-nav {
        align-items: flex-start;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  header {
    nav {
      a.navbar-brand {
        img {
          width: 120px;
        }
      }
    }
  }
}
