<div class="pagNav">
  Doctors <i class="fa-solid fa-chevron-right"></i>
  <span>Doctor Profile</span>
</div>
<div class="commonWrapper">
  <div class="row">
    <div class="col-12">
      <h4>Doctor Profile</h4>
    </div>
    <div class="col-12">
      <img
        src="../../../../../assets/Images/doctors.png"
        alt=""
        class="w-100 rounded"
      />
    </div>
    <div class="col-12 doctorInfo mt-3">
      <div class="row align-items-center">
        <div class="col-md-3">
          <div class="flexStart">
            <img src="../../../../../assets/Images/profile.png" alt="" />
            <div class="name">
              <p class="mb-0 fw-500">Dr. Bruce Willis</p>
              <p class="mb-0 c-main">Senior Doctor</p>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="spcBetween">
            <div>
              <p class="mb-0">Followers</p>
              <p class="mb-0 c-main fw-700">850</p>
            </div>
            <div>
              <p class="mb-0">Following</p>
              <p class="mb-0 c-main fw-700">18K</p>
            </div>
            <div>
              <p class="mb-0">Posts</p>
              <p class="mb-0 c-main fw-700">250</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <button class="btn btn-main medium me-3">Follow</button>
          <button class="btn btn-sky medium">Message</button>
        </div>
      </div>
    </div>
  </div>
</div>
