<!-- Footer  -->

<footer class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <img src="./assets/logo-Programmer.svg" alt="" class="logo" />
        <p>
          Task deadlines and scheduling applications with various benefits
          and advantages
        </p>
      </div>
      <div class="col-md-4 mt-4 mt-md-0">
        <h4>Company</h4>
        <div class="row">
          <div class="col-md-6">
            <ul>
              <li>
                <img src="./assets/icon/arrow.svg" alt="" /><a href="#home">Home</a>
              </li>
              <li>
                <img src="./assets/icon/arrow.svg" alt="" /><a href="#about">About Us</a>
              </li>
              <li>
                <img src="./assets/icon/arrow.svg" alt="" /><a href="#service">Service</a>
              </li>
            </ul>
          </div>
          <div class="col-md-6">
            <ul>
              <li>
                <img src="./assets/icon/arrow.svg" alt="" /><a href="#testimonial">Testimonial</a>
              </li>
              <li>
                <img src="./assets/icon/arrow.svg" alt="" /><a href="#pricing">Pricing</a>
              </li>
              <li>
                <img src="./assets/icon/arrow.svg" alt="" /><a href="#contact">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4 mt-4 mt-md-0">
        <h4>Social Profile</h4>
        <div class="socialProfile">
          <div class="icons">
            <a href=""><i class="fa-brands fa-facebook-f"></i></a>
          </div>
          <div class="icons">
            <a href=""><i class="fa-brands fa-twitter"></i></a>
          </div>
          <div class="icons">
            <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
