<div class="container-fluid authScreen vh-100">
  <div class="row">
    <div class="col-12">
      <div class="authCard w-sm">
        <div class="content">
          <div class="logo d-none">
            <img src="../../../assets/Images/XMLID_1_.svg" alt="" />
          </div>
          <div class="title">
            <h1 class="flg">Sign Up</h1>
            <p class="fxxsm">Create an account so that you can get started</p>
          </div>
          <form class="form">
            <div class="row">
              <div class="col-12">
                <div class="inputField mt-0">
                  <label for="mobileNumber" class="fxxsm">Phone Number</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter phone number"
                  />
                </div>
              </div>
              <div class="col-12">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="flexCheckDefault"
                  />
                  <label
                    class="form-check-label fxxsm c-text"
                    for="flexCheckDefault"
                  >
                    I accept the above information is valid and true.
                  </label>
                </div>
              </div>
              <div class="col-12 mt-3">
                <button class="btn btn-gradient medium w-100 nowrap">
                  Get Verification Code
                </button>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-12 text-center">
                <p class="mb-0 fxxsm c-text switch">
                  Already have an account? <a href="">Login</a>
                </p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
