<div class="row">
  <div class="col-md-6">
    <div class="card h-100">
      <div class="card-header">Bar Chart</div>
      <div class="card-body">
        <p-chart
          type="bar"
          [data]="basicData"
          [options]="basicOptions"
        ></p-chart>
      </div>
    </div>
  </div>
  <div class="col-md-6 mt-4 mt-md-0">
    <div class="card h-100">
      <div class="card-header">Line Chart</div>

      <div class="card-body">
        <p-chart
          type="line"
          [data]="basicData"
          [options]="basicOptions"
        ></p-chart>
      </div>
    </div>
  </div>
  <div class="col-md-6 mt-4">
    <div class="card h-100">
      <div class="card-header">Pie Chart</div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6 m-auto">
            <p-chart type="pie" [data]="data" [options]="options"></p-chart>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
