@import "/src/styles.scss";

.sidebar {
  width: 300px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $primary;
  transition: all 0.5s;
  z-index: 5;
  padding: 0;
  border-radius: 0 15px 15px 0;

  .logo {
    width: 100%;
    padding: 20px;
    text-align: center;
    transition: all 0.5s;

    img {
      width: 100px;
      transition: all 0.5s;
    }
  }

  .sideMenu {
    padding: 20px 10px;
    @include itemPosition(flex-start, space-between);
    flex-direction: column;
    height: calc(100% - 68px);

    ul {
      list-style: none;
      padding-left: 0;
      width: 100%;
      max-height: 460px;
      overflow: auto;

      li {
        padding: 5px 0;
        margin: 5px;
        border-radius: 10px;

        a {
          padding: 0 10px;
          @include itemPosition(center, space-between);
          gap: 15px;

          .icon {
            @include squareShape(40px, 40px, transparent, 0);
          }

          .text {
            color: $lightGrey;
            font-weight: 300;
          }

          i {
            color: $light;
          }
        }

        .dropdownBox {
          border-radius: 10px;
          padding: 0 13px;

          p {
            color: $light;
            font-weight: 300;
            padding: 5px 0 5px 47px;
            cursor: pointer;
            margin-top: 10px;

            i {
              color: $light;
              margin-right: 15px;
            }

            &.active {
              background-color: $light;
              border-radius: 8px;
              color: $primary;
              font-weight: 400;

              i {
                color: $primary;
              }
            }
          }
        }

        &:hover {
          background-color: rgba($color: $light, $alpha: 0.25);
        }

        &.active {
          background-color: rgba($color: $light, $alpha: 0.25);
        }
      }
    }
  }
}

.darkSpace {
  width: calc(100% - 250px);
  height: 100%;
  background-color: rgba($color: $dark, $alpha: 0.3);
  position: fixed;
  right: 0;
  top: 0;
  z-index: 4;
  display: none;
  transition: all 0.5s;
}

@media only screen and (max-width: 1400px) {
  .sidebar {
    width: 250px;

    .logo {
      padding: 15px;
    }

    .sideMenu {
      padding: 10px;
      height: calc(100% - 80px);

      ul {
        li {
          padding: 5px 0;

          a {
            gap: 10px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .sidebar {
    transform: translateX(-250px);

    &.toggleSidebar {
      transform: translateX(0px);
    }
  }

  .darkSpace {
    display: none;

    &.toggleSidebar {
      display: block;
    }
  }
}
