<div class="pagNav">
  Doctors <i class="fa-solid fa-chevron-right"></i>
  <span>Add Doctor</span>
</div>
<div class="commonWrapper">
  <div class="row">
    <div class="col-12">
      <h4>Doctor Details</h4>
    </div>
    <div class="col-12">
      <div class="inputField">
        <div class="profileBox">
          <label for="uploadProfile" class="fxxsm fw-500"
            >Upload Profile
            <input type="file" name="" id="uploadProfile" class="d-none" />
            <span class="d-block mt-2">
              <img src="../../../assets/Images/profileDummy.png" alt="" />
              <i class="fa-solid fa-camera shadow"></i>
            </span>
          </label>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="inputField">
        <label for="fname" class="fxxsm fw-500">First name</label>
        <input
          type="text"
          class="form-control"
          placeholder="Enter first name"
          id="fname"
        />
      </div>
    </div>
    <div class="col-md-4">
      <div class="inputField">
        <label for="lname" class="fxxsm fw-500">Last Name</label>
        <input
          type="text"
          class="form-control"
          placeholder="Enter last name"
          id="lname"
        />
      </div>
    </div>
    <div class="col-md-4">
      <div class="inputField">
        <label for="email" class="fxxsm fw-500">Email Address </label>
        <input
          type="email"
          class="form-control"
          placeholder="Enter email address"
          id="email"
        />
      </div>
    </div>
    <div class="col-md-4">
      <div class="inputField">
        <label for="p_number" class="fxxsm fw-500 d-block"
          >Sex assigned at birth</label
        >
        <div class="form-check form-check-inline mt-3">
          <input
            class="form-check-input"
            type="radio"
            name="inlineRadioOptions"
            id="inlineRadio1"
            value="option1"
          />
          <label class="form-check-label" for="inlineRadio1">Male</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="inlineRadioOptions"
            id="inlineRadio2"
            value="option2"
          />
          <label class="form-check-label" for="inlineRadio2">Female</label>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="inputField">
        <label for="p_number" class="fxxsm fw-500">Mobile Number</label>
        <input
          type="text"
          class="form-control"
          placeholder="Enter phone number"
          id="p_number"
        />
      </div>
    </div>
    <div class="col-md-4">
      <div class="inputField">
        <label for="dob" class="fxxsm fw-500">Date of birth</label>
        <input
          type="date"
          class="form-control"
          placeholder="Date of birth"
          id="dob"
        />
      </div>
    </div>
    <div class="col-12">
      <div class="inputField">
        <label for="addres_1" class="fxxsm fw-500">Address Line 1</label>
        <input
          type="text"
          class="form-control"
          placeholder="Enter full address"
          id="addres_1"
        />
      </div>
    </div>
    <div class="col-12">
      <div class="inputField">
        <label for="addres_2" class="fxxsm fw-500"
          >Address Line 2 (Optional)</label
        >
        <input
          type="text"
          class="form-control"
          placeholder="Enter full address"
          id="addres_2"
        />
      </div>
    </div>
    <div class="col-md-4">
      <div class="inputField">
        <label for="city" class="fxxsm fw-500">City</label>
        <input
          type="text"
          class="form-control"
          placeholder="Enter city name"
          id="city"
        />
      </div>
    </div>
    <div class="col-md-4">
      <div class="inputField">
        <label for="State" class="fxxsm fw-500">State</label>
        <input
          type="text"
          class="form-control"
          placeholder="Enter state name"
          id="State"
        />
      </div>
    </div>
    <div class="col-md-4">
      <div class="inputField">
        <label for="zipCode" class="fxxsm fw-500">Zip code</label>
        <input
          type="text"
          class="form-control"
          placeholder="Enter zip code"
          id="zipCode"
        />
      </div>
    </div>
    <div class="col-12 mt-4">
      <button class="btn btn-gradient large">Save</button>
    </div>
  </div>
</div>
