@import "/src/styles.scss";

.dashboardContent {
  width: calc(100% - 300px);
  margin-top: 94px;
  transition: all 0.5s;
  float: right;
  padding-top: 30px;
}

@media only screen and (max-width: 1400px) {
  .dashboardContent {
    width: calc(100% - 250px);
    margin-top: 80px;
  }
}

@media only screen and (max-width: 992px) {
  .dashboardContent {
    width: calc(100% - 0px);
    margin-top: 95px;
  }
}
