<app-main-header></app-main-header>
<!-- Section Banner  -->
<section class="banner py-5" id="home">
  <div class="container">
    <div class="row">
      <div class="col-md-7 d-flex align-items-center">
        <div class="contant">
          <p class="heading">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos at officiis veritatis
            temporibus, accusantium in, consequuntur laborum soluta, molestiae minima quo! Ullam nemo velit natus
            accusantium cum molestias incidunt id.</p>
          <h1 class="main">
            A Good <span class="c-main">#service</span> is always a
            foundation for
            <span class="bg-dark-8"> Good Product</span>
          </h1>
          <!-- <button class="btn btn-main mt-5">Read More</button> -->
        </div>
      </div>
      <div class="col-md-5 centerMid">
        <img src="../../../assets/Images/Place_Your_Image_Here.png" alt="" class="w-100" />
      </div>
    </div>
  </div>
</section>

<!-- section About Us  -->
<section class="aboutUs py-5" id="about">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p class="heading">About Us</p>
        <h1 class="secondary">
          Why Choose <span class="c-main">TechDashboard?</span>
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12 mt-3">
        <div class="content">
          <h2 class="secondary">Our Philosophy</h2>
          <p>
            At TechDashboard Programmer, we believe in the power of an
            Individualized Approach, tailoring our Programmer to meet the
            unique needs of each student.
          </p>
          <div class="row mb-4">
            <div class="col-lg-3 col-md-6">
              <div class="whyChoose">
                <p>
                  <span> Holistic Development</span>
                  is vital, nurturing critical thinking and problem-solving
                  skills, fostering a lifelong love for learning.
                </p>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 mt-4 mt-md-0">
              <div class="whyChoose">
                <p>
                  <span>Building Confidence</span> is key, creating a safe
                  and supportive environment for developers to express
                  themselves and grow.
                </p>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
              <div class="whyChoose">
                <p>
                  <span>Engaging and Interactive Learning</span> makes the
                  process enjoyable, using diverse teaching methods to
                  encourage curiosity and understanding.
                </p>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
              <div class="whyChoose">
                <p>
                  <span>Continuous Improvement</span> drives us to refine
                  our approach, incorporating feedback and staying updated
                  with serviceal trends.
                </p>
              </div>
            </div>
          </div>

          <p>
            Our philosophy centers on empowering every student to achieve
            academic excellence and unlock their full potential through
            personalized guidance and support, inspiring a lifelong passion
            for learning.
          </p>
        </div>
      </div>
      <hr class="mt-3" />
      <div class="col-12 mt-3">
        <div class="content">
          <h2 class="secondary">Our Approach</h2>
          <div class="steps">
            <p>
              <span class="c-main me-3">Step 1</span>Speak with one of our
              Academic Personal Training Consultants via phone, email or in
              person at our head office
            </p>
            <p>
              <span class="c-main me-3">Step 2</span>We will discuss your
              needs with you and create a customised program in line with
              your goals
            </p>
            <p>
              <span class="c-main me-3">Step 3</span>Our tutor matching team
              will connect you with the ideal tutor for your child’s
              personality, goals and learning style
            </p>
            <p>
              <span class="c-main me-3">Step 4</span>Your new tutor will
              call and introduce themselves before the first session and
              will ask any questions needed to get started
            </p>
            <p>
              <span class="c-main me-3">Step 5</span>Your tutor will
              implement the customised study strategy and will work ongoing
              with you and your child as your academic coach
            </p>
            <p>
              <span class="c-main me-3">Step 6</span>All tutors meet one on
              one with a Success Manager each week to review and update the
              customised plan
            </p>
            <p class="fst-italic">
              *(Include stock images that relate to each respective step)
            </p>
          </div>
        </div>
      </div>
      <hr class="mt-3" />
      <div class="col-12 mt-3">
        <div class="conent">
          <h2 class="secondary">Our Mission</h2>
          <p>
            The foundation of TechDashboard Programmer is grounded in the belief
            that all developers, regardless of their socio-economic
            background, deserve access to high-quality service and
            support.
          </p>
          <p>
            Our mission is to break down barriers and make serviceal
            opportunities accessible to everyone. We offer affordable
            Programmer with flexible payment options and actively collaborate
            with schools and community organizations to reach
            underprivileged developers.
          </p>
          <p>
            Inclusivity and diversity are essential to us, creating a
            supportive environment where developers from different backgrounds
            feel valued. Our tutors are trained to understand and address
            unique challenges. Through volunteer programs and scholarships,
            we give back to the community and offer pro bono Programmer to
            support those in need.
          </p>
          <p>
            Our goal is to empower developers and contribute to a more
            equitable society. service has the power to transform lives,
            and at TechDashboard Programmer, we are dedicated to ensuring that
            every student can unlock their full potential, irrespective of
            their socio-economic background.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- section Service  -->
<section class="service py-5" id="service">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p class="heading">Service</p>
        <h1 class="secondary">What We <span class="c-main">Offer</span></h1>
      </div>
      <div class="col-12">
        <p>
          At TechDashboard service, we understand that every student has unique
          academic needs and aspirations. That's why we offer a variety of
          Programmer services, personalized to support each learner's
          serviceal journey. Whether a student is struggling to keep up
          with their schoolwork, seeking to accelerate their learning, or
          requiring additional support for assessments, we've got them
          covered. Our dedicated team also assists developers to stay
          organized and accountable for their learning, ensuring consistent
          progress.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- section Tutor  -->
<section class="tutor py-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p class="heading">Our Tutors</p>
        <h1 class="secondary">
          <span class="c-main">TechDashboard</span> have some amazing developers to
          help you.
        </h1>
      </div>
      <div class="col-sm-6 mt-4">
        <div class="content">
          <div class="row">
            <div class="col-lg-4">
              <div class="img">
                <img src="../../../assets/Images/developer.png" alt="" />
              </div>
            </div>
            <div class="col-lg-8 mt-4 mt-lg-0">
              <div class="name">Dheeraj</div>
              <div class="about">
                Graduated in 2018, Dheeraj is a highly accomplished tutor
                from the Hills district, specializing in general high school
                service and primary school service. With over 10,000
                hours of Programmer expertise, Dheeraj has earned a reputation
                for being an experienced and dedicated educator. His
                approach focuses on boosting student’s confidence, providing
                personalized teaching and employing adaptable methods.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 mt-4">
        <div class="content">
          <div class="row">
            <div class="col-lg-4">
              <div class="img">
                <img src="../../../assets/Images/developer.png" alt="" />
              </div>
            </div>
            <div class="col-lg-8 mt-4 mt-lg-0">
              <div class="name">Nicholas</div>
              <div class="about">
                A graduate of 2018, Nicholas possesses extensive experience
                in high school classroom and one-on-one Programmer settings.
                Nicholas is highly skilled in teaching advanced levels of
                high school service, having tutored in Extension 2
                mathematics and Advanced English for over 3 years. developers
                benefit from his exceptional expertise and ability to
                deliver complex concepts in an easily understandable manner.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 mt-4">
        <div class="content">
          <div class="row">
            <div class="col-lg-4">
              <div class="img">
                <img src="../../../assets/Images/developer.png" alt="" />
              </div>
            </div>
            <div class="col-lg-8 mt-4 mt-lg-0">
              <div class="name">Shiran</div>
              <div class="about">
                Graduated in 2018, Shiran is proficient in general high
                school service, and selective and OC preparation. Shiran
                stands out for his suitable teaching methods for primary
                school developers, earning him the highest tutor-feedback
                ratings among our educators. With a patient and engaging
                approach, he ensures that each student receives the
                attention and support they need to excel academically.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 mt-4">
        <div class="content">
          <div class="row">
            <div class="col-lg-4">
              <div class="img">
                <img src="../../../assets/Images/developer.png" alt="" />
              </div>
            </div>
            <div class="col-lg-8 mt-4 mt-lg-0">
              <div class="name">Thomas</div>
              <div class="about">
                Thomas is our longest-standing tutor with over 5 years of
                Programmer experience, specializing in general primary school
                service, and Selective and OC preparation. Thomas’
                approach focuses on building long-lasting trust between
                student and tutor, and fostering understanding of core
                concepts for young developers.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- section pricing  -->
<section class="pricing py-5" id="pricing">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12 text-center">
        <p class="heading">Pricing</p>
        <h1 class="secondary">All Inclusive Pricing</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="content">
          <h4>Sliver Plan</h4>
          <p>Perfect for small marketing teams</p>
          <h1>$59 <span>/month</span></h1>
          <hr />
          <ul>
            <li>
              <img src="./assets/icon/tick.svg" alt="" class="me-3" />
              Course Discussions
            </li>
            <li>
              <img src="./assets/icon/tick.svg" alt="" class="me-3" />
              Content Library
            </li>
            <li>
              <img src="./assets/icon/tick.svg" alt="" class="me-3" />
              1-hour Mentorship
            </li>
            <li>
              <img src="./assets/icon/tick.svg" alt="" class="me-3" />
              Online Course
            </li>
            <li>
              <img src="./assets/icon/tick.svg" alt="" class="me-3" />
              Support 24x7
            </li>
          </ul>
          <!-- <button class="btn btn-outline">Choose Plan</button> -->
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
        <div class="content">
          <h4>Gold Plan</h4>
          <p>Perfect for small marketing teams</p>
          <h1>$69 <span>/month</span></h1>
          <hr />
          <ul>
            <li>
              <img src="./assets/tick.svg" alt="" class="me-3" /> Course
              Discussions
            </li>
            <li>
              <img src="./assets/tick.svg" alt="" class="me-3" /> Content
              Library
            </li>
            <li>
              <img src="./assets/tick.svg" alt="" class="me-3" /> 1-hour
              Mentorship
            </li>
            <li>
              <img src="./assets/tick.svg" alt="" class="me-3" /> Online
              Course
            </li>
            <li>
              <img src="./assets/tick.svg" alt="" class="me-3" /> Support
              24x7
            </li>
          </ul>
          <!-- <button class="btn btn-outline">Choose Plan</button> -->
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
        <div class="content">
          <h4>Diamond Plan</h4>
          <p>Perfect for small marketing teams</p>
          <h1>$89 <span>/month</span></h1>
          <hr />
          <ul>
            <li>
              <img src="./assets/tick.svg" alt="" class="me-3" /> Course
              Discussions
            </li>
            <li>
              <img src="./assets/tick.svg" alt="" class="me-3" /> Content
              Library
            </li>
            <li>
              <img src="./assets/tick.svg" alt="" class="me-3" /> 1-hour
              Mentorship
            </li>
            <li>
              <img src="./assets/tick.svg" alt="" class="me-3" /> Online
              Course
            </li>
            <li>
              <img src="./assets/tick.svg" alt="" class="me-3" /> Support
              24x7
            </li>
          </ul>
          <!-- <button class="btn btn-outline">Choose Plan</button> -->
        </div>
      </div>
    </div>
  </div>
</section>



<!-- section contact us  -->
<section class="contact py-5" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="contactDetails">
          <h5>Contact Detail</h5>
          <p>
            There are many variations of passages of Lorem Ipsum available,
            but the majority have suffered alteration in some form, by
            injected humour, or randomised words which don't look even
            slightly believable.
          </p>
          <div class="contactList">
            <div class="icon">
              <img src="./assets/icon/address.svg" alt="" />
            </div>
            <div class="text">
              <p>Our Address</p>
              <h6>411 University St, Seattle, USA</h6>
            </div>
          </div>
          <div class="contactList">
            <div class="icon">
              <img src="./assets/icon/mail.svg" alt="" />
            </div>
            <div class="text">
              <p>Mailbox</p>
              <h6>support@TechDashboard.com</h6>
            </div>
          </div>
          <div class="contactList">
            <div class="icon">
              <img src="./assets/icon/Call.svg" alt="" />
            </div>
            <div class="text">
              <p>Phone Number</p>
              <h6>+1 -800-456-478-23</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8 mt-4 mt-md-0">
        <p class="heading">Ready to get start</p>
        <h1 class="secondary">Ready To Get Started</h1>

        <div class="contactForm">
          <form action="">
            <div class="row">
              <div class="col-md-6">
                <input type="text" class="form-control" placeholder="Name*" required />
              </div>
              <div class="col-md-6">
                <input type="email" class="form-control" placeholder="Email id*" required />
              </div>
              <div class="col-md-6">
                <input type="tel" class="form-control" placeholder="Phone Number*" required />
              </div>
              <div class="col-md-6">
                <input type="text" class="form-control" placeholder="Address*" required />
              </div>
              <div class="col-12">
                <textarea name="" id="" cols="30" rows="4" class="form-control" placeholder="Message"></textarea>
              </div>
              <div class="col-12 mt-4">
                <button class="btn btn-main">Send Message</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Footer  -->
<app-footer></app-footer>
